<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="IsSSLEnabled" value="0" />
  <add key="DbConnectionString" value="Data Source=38.100.135.183; Initial Catalog=nps; User ID=dcpsc;Password=dcpsc123"/>
  <!--<add key="DefaulDateTimeFormat" value="dd/MM/yyyy"/>-->
  <add key="DefaultCurrencySymbol" value="$"/>
  <add key="ExcelTempLocationPath" value="J:\Projects\TFS\DCCouncil NPS\DCCouncil\NPS\Temp\"/>
  <add key="DateFormat" value="M/d/yyyy"/>
  <add key="DateSeparator" value="/"/>
  <add key="ExcelImportTempLocationPath" value="J:\Projects\TFS\DCCouncil NPS\DCCouncil\NPS\Temp\"/>
  <add key="MaxUploadFileSize" value="10000"/>
  <add key="PurchaseOrderImportSheet3Name" value="Page1_1 (2)"/>
  <add key="PasswordComplexityRegEx" value="^.*(?=.{8,})(?=.*[\d])(?=.*[\W]).*$" />
  <add key="PasswordComplexityErrorMessage" value="Password Should Contain atleast 7 Characters, an Alphabet, a Digit and a Special Charater (!,@,$..etc)"></add>
  <add key="ExcelSheetPrefix" value="NPS_Rpt_"/>
  <add key="ExcelAdhocSheetPrefix" value="Adhoc_Report_"/>
  <add key="FiscalYearStartMonth" value="10"/>
  <add key="FiscalYearStartDay" value="1"/>
  <add key="FiscalYearMonthDuration" value="12"/>
  <add key="DefaultCSVFileSavePath" value="J:\Projects\TFS\DCCouncil NPS\DCCouncil\NPS\Temp\" />
  <add key="TelephoneChargesImportDateFormat" value="MM/dd/yyyy"/>
  <add key="CommentTextForImport" value="From Import"/> 
</appSettings>