<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="IsSSLEnabled" value="0" />
  <add key="DbConnectionString" value="Data Source=192.168.0.189; Initial Catalog=NPS_Prod_Nov2022; User ID=nps_admin;Password=Pass@12345"/>
  <!--<add key="DefaulDateTimeFormat" value="dd/MM/yyyy"/>-->
  <add key="DefaultCurrencySymbol" value="$"/>
  <add key="ExcelTempLocationPath" value="C:\Projects\GitRepos\NPS-DC-Council\DCCouncil\NPS\Temp\"/>
  <add key="DateFormat" value="M/d/yyyy"/>
  <add key="DateSeparator" value="/"/>
  <add key="ExcelImportTempLocationPath" value="C:\Projects\GitRepos\NPS-DC-Council\DCCouncil\NPS\Temp\"/>
  <add key="MaxUploadFileSize" value="10000"/>
  <add key="PurchaseOrderImportSheet3Name" value="Page1_1 (2)"/>
  <add key="PasswordComplexityRegEx" value="^.*(?=.{8,})(?=.*[\d])(?=.*[\W]).*$" />
  <add key="PasswordComplexityErrorMessage" value="Password Should Contain atleast 7 Characters, an Alphabet, a Digit and a Special Charater (!,@,$..etc)"></add>
  <add key="ExcelSheetPrefix" value="NPS_Rpt_"/>
  <add key="ExcelAdhocSheetPrefix" value="Adhoc_Report_"/>
  <add key="ExcelExpenditureSheetPrefix" value="ExpenditureSummary_Report_"/>
  <add key="FiscalYearStartMonth" value="10"/>
  <add key="FiscalYearStartDay" value="1"/>
  <add key="FiscalYearMonthDuration" value="12"/>
  <add key="DefaultCSVFileSavePath" value="C:\Projects\GitRepos\NPS-DC-Council\DCCouncil\NPS\Temp\" />
  <add key="TelephoneChargesImportDateFormat" value="MM/dd/yyyy"/>
  <add key="CommentTextForImport" value="From Import"/> 
</appSettings>